# игнорировать файл README.md
README.md

.DS_Store

.idea/

__pycache__/

venv/

.vscode/

# игнорировать файл side.txt в директории build
build/side.txt

# игнорировать все файлы с расширением .doc
*.doc 
